version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo-auction
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: .
    container_name: auction-backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://mongo:27017/auction

volumes:
  mongo_data:
